pipeline/CopyBlobBasePipeline.json
{
	"name": "CopyBlobBasePipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyFromBlobToSql",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Prop_0": "FirstName",
							"Prop_1": "LastName"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "inputblobdataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputSqlDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyFromBlobToSql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-89.westeurope.logic.azure.com:443/workflows/4a365dba56174608bb14ad939bccf9f2",
					"method": "POST",
					"headers": {
						"Content-Type": "Application/json"
					},
					"body": {
						"dataFactoryName": "@{pipeline().DataFactory}",
						"successtype": "Succeeded",
						"message": "@{activity('S3 to Azure Blob').output.dataWritten}",
						"pipelineName": "@{pipeline().Pipeline}",
						"recipient": "@{pipeline().parameters.recipient}"
					}
				}
			}
		]
	}
}