adflabssis/PartialArmTemplates/ArmTemplate_5_22_2019_14_46_41.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adflabssis"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sraImportCodifications')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "codificationDF",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "CreateTempSraImportTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "codificationDF",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "CreateTempSraImportTables",
						"type": "SqlServerStoredProcedure",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[[sra].[CreateTempSraImportTables]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"ImportTableAirbagSide": {
						"type": "string",
						"defaultValue": "##ImportAirbagSide"
					},
					"ImportTableBrand": {
						"type": "string",
						"defaultValue": "##ImportBrand"
					}
				},
				"folder": {
					"name": "SRA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/codificationDF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sraImportVehicles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy to ImportSRA table",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"UpdateMode": "UPDATE_MODE",
									"Identifiant": "CODE_AUTO",
									"NumeroOrdre": "NUM_ORDRE",
									"Marque": "MARQUE",
									"Modele": "MODELE",
									"Version": "VERSION",
									"Generation": "GENERATION",
									"Carrosserie": "CARROSSERIE",
									"Alimentation": "ALIMENTATION",
									"Energie": "ENERGIE",
									"PuissanceAdministrative": "PUISS_ADMIN",
									"Genre": "GENRE",
									"NbPlaces": "NB_PLACE",
									"SerieLimitee": "SERIE_LMT",
									"TypeMines": "TYPE_MINES",
									"NumeroCnit": "NUM_CNIT",
									"DateDebutCommercialisation": "DT_DEB_COMMER",
									"DateFinCommercialisation": "DT_FIN_COMMER",
									"NbCylindre": "NB_CYLINDRE",
									"DispositionCylindres": "DISPO_CYLINDRE",
									"Cylindree": "CYLINDREE",
									"VitesseMaximum": "VITESSE_MAX",
									"PositionMoteur": "POS_MOTEUR",
									"PuissanceCee": "PUISS_CEE",
									"PuissanceDin": "PUISS_DIN",
									"RegimePuissanceMaximum": "REGIME_PUISS_MAX",
									"CoupleMoteurMaximum": "COUPLE_MOTEUR_MAX",
									"RegimeCoupleMoteurMaximum": "REGIME_CPLMOTEUR_MAX",
									"Transmission": "TRANSMISSION",
									"BoiteVitesses": "BOITE_VITESSE",
									"NbRapports": "NB_RAPPORTS",
									"Suspension": "SUSPENSION",
									"TypeFreins": "TYPE_FREIN",
									"AssistanceFreinage": "ASSIST_FREIN",
									"Longueur": "LONGUEUR",
									"Largeur": "LARGEUR",
									"Hauteur": "HAUTEUR",
									"Empattement": "EMPATTEMENT",
									"VoieAvant": "VOIE_AV",
									"VoieArriere": "VOIE_ARR",
									"PoidsVide": "POIDS_VIDE",
									"PTAC": "PTAC",
									"ChargeUtile": "CHARGE_UTILE",
									"AirbagConducteur": "AIRBAG_COND",
									"AirbagPassagerAvant": "AIRBAG_PASS_AV",
									"AirbagsLaterauxAvant": "AIRBAG_LAT_AV",
									"AirbagsLaterauxArriere": "AIRBAG_LAT_AR",
									"DirectionAssistee": "DIRECT_ASSIST",
									"AssistanceFreinageUrgence": "ASSIST_FREIN_URGENCE",
									"AntiblocageRoues": "ANTIBLOC_ROUES",
									"ControleDynamiqueStabilite": "CTRL_DYN_STABILITE",
									"DernierTarifEuros": "DERNIER_TARIF_E",
									"DernierTarifFrancs": "DERNIER_TARIF_F",
									"DatDernierTarif": "DT_DER_TARIF",
									"SourceDernierTarif": "SOURCE_DER_TARIF",
									"TarifOrigineEuros": "TARIF_ORIGINE_E",
									"TarifOrigineFrancs": "TARIF_ORIGINE_F",
									"DateTarifOrigine": "DT_TARIF_ORIGINE",
									"SourceTarifOrigine": "SOURCE_TARIF_ORIGINE",
									"DernierCoutRempPiecesEurosHt": "DERNIER_CT_RMPL_PIECES",
									"DernierCoutRempBlocOptiqueEurosHt": "DERNIER_CT_RMPL_BLOCOPT",
									"DernierCoutRempPareBriseEurosHt": "DERNIER_CT_RMPL_PAREBRISE",
									"DateDerniersCouts": "DT_DERNIER_COUTS",
									"CoutOrigineRempPiecesEurosHt": "CT_ORIGINE_RMPL_PIECES",
									"CoutOrigineRempBlocOptiqueEurosHt": "CT_ORIGINE_RMPL_BLOCOPT",
									"CoutOrigineRempPareBriseEurosHt": "CT_ORIGINE_RMPL_PAREBRISE",
									"DateCoutsOrigine": "DT_COUTS_ORIGINE",
									"GroupeSraOrigine": "GROUPE_SRA",
									"ClassePrixOrigine": "CLASSE_PRIX",
									"ClasseReparationOrigine": "CLASSE_REPARATION",
									"AntidemarrageActuel": "ANTIDEMARRAGE_ACT",
									"DateAttributionAntidemarrageActuel": "DT_ANTIDEMARRAGE_ACT",
									"AntidemarragePrecedent": "ANTIDEMARRAGE_PREC",
									"DateAttributionAntidemarragePrecedent": "DT_ANTIDEMARRAGE_PREC",
									"CodeGta": "CODE_GTA",
									"NoteSecuritePassive": "NOTE_SECU_PASSIVE",
									"CoutChocAvant": "CT_CHOC_AV",
									"CoutChocArriere": "CT_CHOC_ARR",
									"GroupeSraActuel": "GROUPE_SRA_ACT",
									"ClassePrixActuelle": "CLASSE_PRIX_ACT",
									"ClasseReparationActuelle": "CLASSE_REPAR_ACT",
									"EmissionCo2": "EMISSION_CO2"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "inputSraImportVehicle",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ImportRawSra",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "SRA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ImportRawSra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ImportRawSra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRA"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "UPDATE_MODE",
						"type": "String"
					},
					{
						"name": "CODE_AUTO",
						"type": "String"
					},
					{
						"name": "NUM_ORDRE",
						"type": "String"
					},
					{
						"name": "MARQUE",
						"type": "String"
					},
					{
						"name": "MODELE",
						"type": "String"
					},
					{
						"name": "VERSION",
						"type": "String"
					},
					{
						"name": "GENERATION",
						"type": "String"
					},
					{
						"name": "CARROSSERIE",
						"type": "String"
					},
					{
						"name": "ALIMENTATION",
						"type": "String"
					},
					{
						"name": "ENERGIE",
						"type": "String"
					},
					{
						"name": "PUISS_ADMIN",
						"type": "String"
					},
					{
						"name": "GENRE",
						"type": "String"
					},
					{
						"name": "NB_PLACE",
						"type": "String"
					},
					{
						"name": "SERIE_LMT",
						"type": "String"
					},
					{
						"name": "TYPE_MINES",
						"type": "String"
					},
					{
						"name": "NUM_CNIT",
						"type": "String"
					},
					{
						"name": "DT_DEB_COMMER",
						"type": "String"
					},
					{
						"name": "DT_FIN_COMMER",
						"type": "String"
					},
					{
						"name": "NB_CYLINDRE",
						"type": "String"
					},
					{
						"name": "DISPO_CYLINDRE",
						"type": "String"
					},
					{
						"name": "CYLINDREE",
						"type": "String"
					},
					{
						"name": "VITESSE_MAX",
						"type": "String"
					},
					{
						"name": "POS_MOTEUR",
						"type": "String"
					},
					{
						"name": "PUISS_CEE",
						"type": "String"
					},
					{
						"name": "PUISS_DIN",
						"type": "String"
					},
					{
						"name": "REGIME_PUISS_MAX",
						"type": "String"
					},
					{
						"name": "COUPLE_MOTEUR_MAX",
						"type": "String"
					},
					{
						"name": "REGIME_CPLMOTEUR_MAX",
						"type": "String"
					},
					{
						"name": "TRANSMISSION",
						"type": "String"
					},
					{
						"name": "BOITE_VITESSE",
						"type": "String"
					},
					{
						"name": "NB_RAPPORTS",
						"type": "String"
					},
					{
						"name": "SUSPENSION",
						"type": "String"
					},
					{
						"name": "TYPE_FREIN",
						"type": "String"
					},
					{
						"name": "ASSIST_FREIN",
						"type": "String"
					},
					{
						"name": "LONGUEUR",
						"type": "String"
					},
					{
						"name": "LARGEUR",
						"type": "String"
					},
					{
						"name": "HAUTEUR",
						"type": "String"
					},
					{
						"name": "EMPATTEMENT",
						"type": "String"
					},
					{
						"name": "VOIE_AV",
						"type": "String"
					},
					{
						"name": "VOIE_ARR",
						"type": "String"
					},
					{
						"name": "POIDS_VIDE",
						"type": "String"
					},
					{
						"name": "PTAC",
						"type": "String"
					},
					{
						"name": "CHARGE_UTILE",
						"type": "String"
					},
					{
						"name": "AIRBAG_COND",
						"type": "String"
					},
					{
						"name": "AIRBAG_PASS_AV",
						"type": "String"
					},
					{
						"name": "AIRBAG_LAT_AV",
						"type": "String"
					},
					{
						"name": "AIRBAG_LAT_AR",
						"type": "String"
					},
					{
						"name": "DIRECT_ASSIST",
						"type": "String"
					},
					{
						"name": "ASSIST_FREIN_URGENCE",
						"type": "String"
					},
					{
						"name": "ANTIBLOC_ROUES",
						"type": "String"
					},
					{
						"name": "CTRL_DYN_STABILITE",
						"type": "String"
					},
					{
						"name": "DERNIER_TARIF_E",
						"type": "String"
					},
					{
						"name": "DERNIER_TARIF_F",
						"type": "String"
					},
					{
						"name": "DT_DER_TARIF",
						"type": "String"
					},
					{
						"name": "SOURCE_DER_TARIF",
						"type": "String"
					},
					{
						"name": "TARIF_ORIGINE_E",
						"type": "String"
					},
					{
						"name": "TARIF_ORIGINE_F",
						"type": "String"
					},
					{
						"name": "DT_TARIF_ORIGINE",
						"type": "String"
					},
					{
						"name": "SOURCE_TARIF_ORIGINE",
						"type": "String"
					},
					{
						"name": "DERNIER_CT_RMPL_PIECES",
						"type": "String"
					},
					{
						"name": "DERNIER_CT_RMPL_BLOCOPT",
						"type": "String"
					},
					{
						"name": "DERNIER_CT_RMPL_PAREBRISE",
						"type": "String"
					},
					{
						"name": "DT_DERNIER_COUTS",
						"type": "String"
					},
					{
						"name": "CT_ORIGINE_RMPL_PIECES",
						"type": "String"
					},
					{
						"name": "CT_ORIGINE_RMPL_BLOCOPT",
						"type": "String"
					},
					{
						"name": "CT_ORIGINE_RMPL_PAREBRISE",
						"type": "String"
					},
					{
						"name": "DT_COUTS_ORIGINE",
						"type": "String"
					},
					{
						"name": "GROUPE_SRA",
						"type": "String"
					},
					{
						"name": "CLASSE_PRIX",
						"type": "String"
					},
					{
						"name": "CLASSE_REPARATION",
						"type": "String"
					},
					{
						"name": "ANTIDEMARRAGE_ACT",
						"type": "String"
					},
					{
						"name": "DT_ANTIDEMARRAGE_ACT",
						"type": "String"
					},
					{
						"name": "ANTIDEMARRAGE_PREC",
						"type": "String"
					},
					{
						"name": "DT_ANTIDEMARRAGE_PREC",
						"type": "String"
					},
					{
						"name": "CODE_GTA",
						"type": "String"
					},
					{
						"name": "NOTE_SECU_PASSIVE",
						"type": "String"
					},
					{
						"name": "CT_CHOC_AV",
						"type": "String"
					},
					{
						"name": "CT_CHOC_ARR",
						"type": "String"
					},
					{
						"name": "GROUPE_SRA_ACT",
						"type": "String"
					},
					{
						"name": "CLASSE_PRIX_ACT",
						"type": "String"
					},
					{
						"name": "CLASSE_REPAR_ACT",
						"type": "String"
					},
					{
						"name": "EMISSION_CO2",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[sra].[ImportSRA]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputSqlDataset_New')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[emp]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/sraInputCodification')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRA"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "20190416_010431_Automobiles_quotidien_codification.txt",
						"folderPath": "input",
						"container": "adf-blob"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/sraMapBrand')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRA"
				},
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "BrandId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShortDesc",
						"type": "varchar"
					},
					{
						"name": "ExternalId",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[sra].[MapBrand]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/tempBrand')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SRA"
				},
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@pipeline().parameters.ImportTableBrand",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/codificationDF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "SRA"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sraInputCodification",
								"type": "DatasetReference"
							},
							"name": "CodificationsSource",
							"script": "source(output(\n\t\tProp_0 as string,\n\t\tProp_1 as string,\n\t\tProp_2 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CodificationsSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tempBrand",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"script": "SelectMRQExternalIdAndDesc sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tExternalId,\n\t\tShortDesc\n\t)) ~> sink1"
						}
					],
					"transformations": [
						{
							"name": "CodificationsSplit",
							"script": "CodificationsSource split(Prop_0 == 'MRQ',\n\tProp_0 == 'SGT',\n\tProp_0 == 'CAR',\n\tProp_0=='ENE',\n\tProp_0=='ALI',\n\tProp_0=='BDV',\n\tProp_0=='TRA',\n\tProp_0=='CPX',\n\tProp_0=='CRE',\n\tProp_0=='GRE',\n\tProp_0=='MOD',\n\tProp_0=='ALV',\n\tProp_0=='ALR',\n\tProp_0=='AFU',\n\tdisjoint: false) ~> CodificationsSplit@(MRQ, SGT, CAR, ENE, ALI, BDV, TRA, CPX, CRE, GRE, MOD, ALV, ALR, AFU)"
						},
						{
							"name": "SelectMRQExternalIdAndDesc",
							"script": "CodificationsSplit@MRQ select(mapColumn(\n\t\tProp_0,\n\t\tExternalId = Prop_1,\n\t\tShortDesc = Prop_2\n\t))~> SelectMRQExternalIdAndDesc"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sraInputCodification')]",
				"[concat(variables('factoryId'), '/datasets/tempBrand')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "OutputSqlDataset_New",
								"type": "DatasetReference"
							},
							"name": "source1",
							"script": "source(output(\n\t\tID as integer,\n\t\tFirstName as string,\n\t\tLastName as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table') ~> source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tempBrand",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"script": "Filter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false) ~> sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1",
							"script": "source1 filter(ID < 10) ~> Filter1"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OutputSqlDataset_New')]",
				"[concat(variables('factoryId'), '/datasets/tempBrand')]"
			]
		}
	]
}